<%= form_for @flower do |f| %>
  <p>
    <%= f.label :flower_name %>
    <%= f.text_field :flower_name %>
  </p>
  <p>
    <%= f.label :color %>
    <%= f.text_field :color %>
  </p>
  <p>
    <%= f.submit 'Update Flower' %>
  </p>
<% end %>